PORT=3004
NODE_ENV=development

# Base de datos propia del Team Service (Database per Service)
DATABASE_URL="postgresql://team_user:team_pass@team-db:5432/team_db?schema=public"


# Comunicacion sincrona con League Service
LEAGUE_SERVICE_URL="http://league-service:3003"
